!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Posts
    = csrf_meta_tags
    = stylesheet_pack_tag 'hello_vue'
    = javascript_pack_tag 'hello_vue'
  %body
    = yield
